.profile-input {
  background: #333 !important;
  color: white !important;
  border: 1px solid #555 !important;
}

.profile-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.dark .profile-button {
  background: #444;
  color: white;
}

.light .profile-button {
  background: #eee;
  color: black;
}

.sidebar {
  position: fixed;       
  top: 0;
  left: 0;
  width: 240px;        
  height: 100vh;        
  background: #111;
  color: #fff;
  padding: 20px;
  overflow-y: auto;  
}

.layouts_activ:hover{
    background-color: gray;
    width: 192px;
    border-radius: 8px;
    height: 50px;
}